<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>图片轮播</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styleone.css"/>
</head>
<body>

<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>

    </ol>
    <div class="carousel-inner">
        <div class="item active pho" style="background:#223240;">
            <img src="../static/img/slide1.png" alt="第一张"/>
        </div>
        <div class="item pho" style="background:#F5E4DC;">
            <img src="../static/img/slide2.png" alt="第二张"/>
        </div>
        <div class="item pho" style="background:#DE2A2D;">
            <img src="../static/img/slide3.png" alt="第三张"/>
        </div>
    </div>

    <a href="#myCarousel" data-slide="prev" class="carousel-control left">
        <span class="glyphicon glyphicon-chevron-left"> </span>
    </a>
    <a href="#myCarousel" data-slide="next" class="carousel-control right">
        <span class="glyphicon glyphicon-chevron-right"> </span>
    </a>
</div>


<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript">


    //自动播放
    $("#myCarousel").carousel({
        interval: 1000,
    });


</script>
</body>
</html>